.order-popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(white, 1);
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-image: linear-gradient(
      to bottom,
      rgba($darken-color, 1) 20%,
      rgba($darken-color, 0.5) 100%
    ),
    url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .order-popup__content {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    max-width: 600px;
    height: auto;
    color: $darken-color;
    padding: 30px;
    background-color: rgba(white, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: overlay;
    label {
      opacity: 0.6;
      font-size: 16px;
    }

    .order-popup__content__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .order-popup__content__form__headline {
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin: 0px 0px 30px 0px;
        padding: 0px 40px 0px 0px;
        max-width: 540px;
        box-sizing: border-box;

        span {
          color: $accent-color;
        }
      }
      .form__item {
        width: 100%;
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .form__item__field {
          width: 100%;
          padding: 0px 12px;
          height: 44px;
          margin: 10px 0px 0px 0px;
          box-sizing: border-box;
          outline: none;
          border: none;
          background-color: white;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          border: 1px solid rgba($darken-color, 0.3);

          &:focus {
            border: 1px solid rgba($darken-color, 1);
          }
        }
        .client-name {
        }
        .client-surname {
        }
        .client-phone {
        }
        .client-tour {
        }
      }

      .submit-button {
        width: 100%;
        margin: 60px 0px 0px 0px;
      }
    }
    .close-button {
      position: absolute;
      right: 30px;
      top: 30px;
      padding: 0;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      width: 22px;
      height: auto;

      svg {
        width: 22px;
        height: auto;
      }
      &:hover svg * {
        fill: rgba($accent-color, 1);
      }
    }
  }
}
@media (max-width: 1400px) {
  .order-popup {
    .order-popup__content {
      padding: 20px;
      font-size: 14px;
      .order-popup__content__form {
        .order-popup__content__form__headline {
          margin: 0px 0px 0px 0px;
          font-size: 18px;
          span {
          }
        }
        .form__item {
          width: 100%;
          margin: 20px 0px 0px 0px;

          .form__item__field {
            padding: 0px 12px;
            height: 44px;
            height: 36px;

            &:focus {
            }
          }
          .client-name {
          }
          .client-surname {
          }
          .client-phone {
          }
          .client-tour {
          }
        }

        .submit-button {
          margin: 20px 0px 0px 0px;
        }
      }
      .close-button {
        right: 20px;
        top: 20px;
        width: 16px;
        height: auto;

        svg {
          width: 16px;
          height: auto;
        }
        &:hover svg * {
        }
      }
    }
  }
}
